requests
s3fs
pyarrow
pandas
geopandas
shapely
seaborn
dask
matplotlib
beautifulsoup4
nltk
torch
accelerate
sentencepiece
scikit-learn
folium
streamlit
altair
drawilleplot
dask_expr
pillow==9.5.0
wxPython
streamlit-folium